:root {
    // main pallet
    --accent-color: rgb(196, 46, 46);
    --accent-shadow: -1px -1px 49px 3px rgba(196,46,46,0.75);
    --shadow-toggle:  0 0 50px 20px rgba(0, 0, 0, .1);
    --primary-color: #373d40;
    --color-grey: #f3f5f6;
    --color-white:  #e0dedc;
    --btn-color: #ffffff80;
    --background-color-modal-window: rgba(36, 42, 42, 0.506);
    // animation
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 500ms;
    // fonts
    --primary-font: "Wix Madefor Display";
    --title-font: "Cormorant Infant";
}