@use "../utilities/mixin" as c;

.button {
  padding: 15px 20px;
  margin: 0 auto;
  width: 250px;
  @include c.center;
  text-transform: uppercase;
  border-radius: 8px;
  color: var(--color-white);
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--color-white);
  transition: 0.5s ease;

  &:hover {
    color: var(--color-white);
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    text-shadow: 0 0 5px var(--color-white), 0 0 10px var(--color-white), 0 0 20px var(--color-white);
    box-shadow: var(--accent-shadow);
  }
}

.hero__svg {
  fill: var(--color-white);
  margin-left: 20px;
  @include c.size(25px, 25px);
}

@media (max-width:767px) {
  .button {
    width: auto;
  }
}